*{
    margin:0px;
    font-family:'Courier New', Courier, monospace
   }

     #navdiv{
         height:40px;
     }
     #nav{
         display: flex;
         border: 1px solid rebeccapurple;
         position: fixed;
         background-color: white;
         justify-content: space-between;
         width:100%;
         height:60px;
         /* z-index: 1; */

     }
     #nav_one{
       /* border: 1px solid; */
       width: 200px;
     }
     
     #nav_one img{
         width: 100%;
         height: 100%;
         /* margin-left: 10px; */
     }
     #nav_two{
        display: flex; 
        width: 35%;
        justify-content: space-between;
        margin-right: 30px;
        margin-top: 10px;
        /* border: 1px solid; */
     }
     #nav_two a{
         text-decoration: none;
     }
     #nav_three{
        margin-left: 10%;
        margin-top: 10px; 
        border: 1px solid;
     }
     #nav_three input{
         height: 20px;
     }

     #nav_four{
        margin-top: 10px; 
        border: 1px solid red;
     }
     #nav_five{ 
        width: 5%;
        margin-top: 10px;
        border: 1px solid;
        
     }
     #nav_five img:nth-child(1){
         width: 50%;
         border: 1px solid;
         margin-left: 40%;
     }
     #nav_five img:nth-child(2){
         width: 25%;
         margin-left:40px;
         margin-top: 10px;
     }
     .dropdown-content {
        display: none;
         position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
         z-index: 1;
     }
     .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
     font-weight: bold;
    }
    .dropdown-content a:hover {
      background-color:rgb(238, 235, 235);
    }
    .dropdown:hover .dropdown-content {
     display: block;
    }
    /* ......................... */
    .signinpopup h5{
    text-align: center;
    }
    .signinpopup input{
        width: 80%;
        margin-left: 10%;
        height: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .signinpopup button{
        width: 81%;
        margin-left: 11%;
        margin-top: 20px;
    }
    .signinpopup p{
        width: 80%;
        margin-left: 10%;
        text-align: center;
        font-size: 12px;
     }
     .signinpopup h3{
        font-size: 14px;
        text-align: center;
        margin-bottom: 25px;
    }
    .signinpopup span{
     color: rgb(56, 24, 239);
     margin-right: 10px;
     font-weight: bolder;
     border: 1px solid;
     
    }
    .signinpopup{
        border: 1px solid ;
        width: 300px;
        margin-left: 80%;
        margin-top: 50px;
        position: absolute;
        top: 50px;
        border-radius: 5px;
        transform: translate(2%,0%) scale(0.1);
        transition: transform 0.4s,top 0.4s;
        visibility: hidden;
        background-color: rgb(180, 175, 170);
        z-index: 2;
    }
    .opensignin{
        visibility: visible;
        /* top: 250px; */
        transform:translate(0%,-10%) scale(1); 
    }
    .signuppopup h5{
        text-align: center;
        }
        .signuppopup input{
            width: 80%;
            margin-left: 10%;
            height: 20px;
            margin-top: 20px;
            text-align: center;
        }
        .signuppopup button{
            width: 81%;
            margin-left: 11%;
            margin-top: 20px;
        }
        .signuppopup p{
            width: 80%;
            margin-left: 10%;
            text-align: center;
            font-size: 12px;
         }
         .signuppopup h3{
            font-size: 14px;
            text-align: center;
            margin-bottom: 25px;
        }
        .signuppopup span{
         color: rgb(38, 0, 255);
         margin-right: 10px;
         font-weight: bolder;
        }

        .signuppopup{
        border: 1px solid ;
        width: 300px;
        margin-left: 80%;
        margin-top: 50px;
        position: absolute;
        top: 70px ;
        z-index: 1;
        transform: translate(2%,0%) scale(0.1);
        transition: transform 0.4s,top 0.4s; 
        visibility: hidden;
        border-radius: 5px;
        
        }
        .opensignup{
            background-color: rgb(198, 198, 213);
            visibility: visible;
             /* top: 250px; */
            transform:translate(0%,-10%) scale(1); 
        }
       
        /* ........................ */

        #home-one{
            border: 1px solid red;
            /* margin-bottom: -20px; */
        }
        #home-one img{
            width: 100%;
            margin-top: 0px;
        }
        #home-one-text{
            color: rgb(228, 238, 238);
            text-align: center;
            /* border: 1px solid blue; */
            width: 40%;
            position: absolute;
            top: 300px;
            left: 58%;
        }
        #home-two{
            margin: auto;
            width: 80%;
            border: 1px solid;
            display: grid;
            grid-template-columns: repeat(2,1fr);
             
        }
        #home-two div{
            width: 100%;
        border: 1px solid;
        }
        #home-two img{
            width: 100%;
        }

        #home-three-two{
            margin: auto;
            width: 80%;
            border: 1px solid;
            display: grid;
            grid-template-columns: repeat(4,1fr);  
            gap:10px;
        }
        #home-three-two button{
             background-color: white;
             width: 100%;
             height: 30px;
        }
        #home-three-one{
            /* border: 1px solid; */
            margin-top: 20px;
            text-align: center;
        }

       /* footer     .................. */
       #footer{
        padding-top: 20px;
        margin-top:20px;
        background-color: rgb(223, 226, 228);
        
       }
       #footer p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 15px;
       }
        #footer-one{
            display: flex;
            width: 100%;
            justify-content: space-around;
            
        }
        #footer-two-one{
            border: 1px solid;
           width:20%;
           display: flex;
           height: 40px;
           justify-content: space-around;
           margin-left: 7%;
           margin-top: 20px;
        }
        #footer-two-one div{
             border: 1px solid;
        }
        #footer-two-one img{
            width:50%;
        }
        #footer-two-two {
            width: 10%;
            height: 40px;
          border: 1px solid;
          margin-left: 7%;
          margin-top: 20px;
        }
        #footer-two-two img{
            width: 100%;
            height: 40px;
        }


 